<footer id="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-left">
    		&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
    	</div>
      	<div class="footer-right">
    		欢迎来到<a href="https://myone.me" target="_blank">MYONE的个人主页</a>
      	</div>
    </div>
  </div>
</footer>
